.navbar
{
  height: 60px;
  width: 100%;
  background-color: green;
  display: flex;
  align-items: center;
  /*justify-content: right;*/
  font-size: 1.3rem;
}
.navbar1{
  /*background-color: green;*/
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 20px;
  gap: 40px;
  
}
 .navbar .logo
{
  color: #fff;
  display: flex;
  letter-spacing: 0.1em;
  margin-left: 50px;
  justify-content: left;
}
.navbar a
{
  text-decoration: none;
  color: #fff;
}
.img
{
  margin-top: 10px;
  height: 1000px;
  width: 100%;
  border: 1px solid black;
  background-image: url(wheat1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.img .box
{
  margin :10%;
  height: 80%;
  width: 80%;
  border :1px solid transparent;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);;
  }
  .box .text
  {

    margin:0 20px 0 20px;

  }
  .container
  {
    margin-top: 15px;
  }
  .heading
  {
    height:40px;
    width:1000%;
    background-color: green;
    display: flex;
    align-items: center;
    
  }
.first-row
{
  margin:35px;
  height: 300px;
  width :100%;
  border: 1px solid #e4dbdb;
  display: flex;
  background-color: #e4dbdb;
}
.footer-container
{
  height: 200px;
  width: 100%;
  background-color: green;
  display: flex;
  justify-content: center;
}
.p
{
  color: black;
}
.a
{
  display: flex;
  align-items: center;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

div {
  margin-bottom: 10px;
}